<h1> Welcome to the User Sign in Page </h1>

<form method="POST" action="/viewer">
  <label for="create_user">Create A New User</label>
  <input type="text" name="name"  placeholder="please enter name here" id="name" />
  <input type="submit" value="Create" />
</form>



